.aboutPage {
    font-family: "Roboto";
    color: lightgray;
    text-align: center;
}
.backgrnd {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
