<div class="row gutter-0 row1 mt-3">
    <div class="container">
        <input type="text"  [(ngModel)]="show" placeholder="timemyshow" class="searchBar" (keypress)=eventHandler($event) autofocus>
    </div>
</div>
<div *ngIf="show !== '' && show !== undefined; else subBlock">
    <app-search (emitSearchToggle)="toggleSearch()" [myShows]="myShows" [subsList]="subsList" [myIds]="myIds" [show]="show" (emitUnsubSearch)="unsubscribe($event)" (emitSubSearch)="subscribe($event)"></app-search>
</div>
<ng-template #subBlock>
    <app-subs [myShows]="myShows" [subsList]="subsList" [myIds]="myIds" (emitUnsub)="unsubscribe($event)"></app-subs>
</ng-template>  

<div class="row gutter-0" style="height: 200px; width: 100%; background-color: #222"></div>
