<div class="row gutter-0" style="min-height: 180px; width: 100%; background-color: #222">
    <div class="container" style="height: 180px;">
        <input type="text"  [(ngModel)]="show" placeholder="timemyshow" class="searchBar" routerLink="/search" (keypress)=eventHandler($event)>
    </div>
</div>
<div *ngIf="showSearch; else subBlock">
    <app-search [myShows]="myShows" [subsList]="subsList" [myIds]="myIds" [show]="show" (emitUnsubSearch)="unsubscribe($event)" (emitSubSearch)="subscribe($event)"></app-search>
</div>
<ng-template #subBlock>
    <app-subs [myShows]="myShows" [subsList]="subsList" [myIds]="myIds" (emitUnsub)="unsubscribe($event)"></app-subs>
</ng-template>  