.searchBar {
    margin-top: 3rem;
    height: 9rem;
    width: 100%;
    background-color: transparent;
    color: #008f76;
    font-family: "Roboto-Black";
    outline: none;
    border: none;
    border-bottom: 3px solid #008f76;
}
input, input::placeholder {
    color: #008f76;
    font-family: "Roboto-Black";
    font-size: 6rem;
}
.row1 {
    background-color: #222;
    width: 100%;
    height: 12rem;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder { /* Chrome/Opera/Safari */
    color: #008f76;
    font-family: "Roboto-Black";
    font-size: 100px !important;
  }
:focus::-webkit-input-placeholder, :focus::-moz-placeholder, :focus:-ms-input-placeholder, :focus:-moz-placeholder { /* Chrome/Opera/Safari */
  color: #008f76;
  font-family: "Roboto-Black";
  font-size: 100px !important;
}

.name {
    font-family: "Roboto";
    font-size: 20px;
    color: #008f76;
}

@media(max-width: 768px) {
  .searchBar {
    margin-top: 2rem;
    height: 6rem;
  }
  input, input::placeholder {
    font-size: 4rem;
  }
  .row1 {
    height: 7rem;
  }
}


@media(max-width: 576px) {
  .searchBar {
    margin-top: 1rem;
    height: 4rem;
  }
  input, input::placeholder {
    font-size: 3.7rem;
  }
  .row1 {
    height: 5rem;
  }
}

@media(max-width: 360px) {
  input, input::placeholder {
    font-size: 3rem;
  }
}
