.content {
  margin-top: 50px;
  white-space:normal;
}

.tile {
  width: 100%;
  background-color: #222;
  font-family: "Roboto", serif;
  font-size: 16px;
  color: lightgray;
  margin-bottom: 50px;

}

.subsBtn {
  font-family: "Roboto-Regular", serif;
  font-size: 15px;
  border-radius: 2px;
  border: 2px solid #008f76;
  background-color: transparent;
  color: #008f76;
  vertical-align: center;
  outline: none;
  height: 40px;
  width: 120px;
  margin-top: 20px;
}

.subsBtn:hover {
  color: whitesmoke;
  background-color: #008f76;
}

.myLayout {
  background-color: #222;
  border: none;
  min-height: calc(100vh - 200px);
  max-height: none;
  width: 100%;
  padding-top: 20px;
}

.status {
  height: 150px;
  width: 10px;
}

.badge {
  background-color: transparent;
  border: 1px solid #008f76;
  font-family: "Roboto", serif;
  font-size: 15px;
  color: #008f76;
}

.name {
  font-family: "Roboto-Black", serif;
  font-size: 20px;
  color: lightgray;
}

.summary {
  text-align: justify;
}


@media(max-width: 576px) {
  .badge,
  .verdict,
  .summary {
    font-size: 13px;
  }
  .name {
    font-size: 16px;
  }
  .subsBtn {
    font-size: 12px;
    height: 35px;
    width: 100px;
    margin-top: 0px;
  }
  .episodeBtn {
    position: relative;
    float: right;
  }
}
