<div class="row gutter-0" style="min-height: calc( 100vh - 180px); background-color: #222">
    <div *ngIf="myShows.length == 0; else showsBlock" class="container" style="margin-top: 30px;">
        <span class="name">subscribe to shows to see their schedule</span>
    </div>
    <ng-template #showsBlock>
            <div class="container">
                <div *ngFor="let show of shows; let i = index">
                    <div *ngIf="subsList[show.id]" class="tile">
                        <div class="col-md-1 col-sm-2 col-xs-2">
                                <img src="{{show.image.medium || show.image}}" height="150px" width="100px" class="myImg">
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-7">
                                <span class="name"><b>{{show.name}}</b>&nbsp;({{show.premiered.split('-')[0]}})</span>
                                <span class="badge"><i class="fa fa-star"></i>&nbsp;{{show.rating.average || '?'}}</span><br>
                                <span style="font-size: 16px">{{verdict[show.id]}}</span><br>
                                <p style="font-size: 16px" [innerHTML]="show.summary"></p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <button (click)="unsubscribe(show.id)" class="btn subsBtn pull-right">unsubscribe</button><br>
                                <button routerLink="/episode" class="btn subsBtn pull-right">all episodes</button>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </ng-template>
</div>