
::-webkit-scrollbar {
    width: 8px;
}

html {
    overflow-x:hidden;
    background-color: #222;
}
body {
    background-color: #222;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #008f76;
    border-left: 1px solid#008f76;
}

.elementToFadeIn {
    -webkit-animation: fadeinout .6s linear forwards;
    animation: fadeinout .6s linear forwards;
}
@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeinout {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}
.gutter-0 > [class^="col-"]{
    padding-right: 0;
    padding-left: 0;
}

::selection {
    background-color: #008f76;
    color: black;
}
