.tile{
    min-height: 150px;
    width: 100%; 
    background-color: #222;
    font-family: "Roboto";
    font-size:16px;
    color: lightgray;
    margin-top: 15px;
    border-right: 10px solid #1db954;
}
.subsBtn {
    font-family: "Roboto-Regular";
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid #008f76;
    background-color: 
    transparent;
    text-transform: 
    uppercase;
    color:#008f76;
    vertical-align: center;
    outline: none;
    height: 40px;
    width: 130px;
    margin-top: 7.2px;
}
.subsBtn:hover {
    color: whitesmoke;
    border-color: white;
}
.myLayout {
    background-color: #222;
    border: none;
    min-height: calc(100vh - 180px); 
    max-height: none;
    width: 100%;
    padding-top: 20px;
}
.status {
    height: 150px;
    width: 10px;
}
.badge {
    background-color: transparent;
    border: 1px solid lightgray;
    font-family: "Roboto";
    font-size: 18px;
    color: whitesmoke;
}
.myImg {
    position: absolute;
    left: 0;
}
.name {
    font-family: "Roboto";
    font-size: 20px;
    color: whitesmoke;
}