.searchInput {
    width:100%;
    height: 35px;
    border-radius: 0px;
    outline: none;
    font-family: "Roboto";
    font-size: 20px;
    background-color: transparent;
    border: none;    
    color:white;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    padding-top: 10px;
}
.myBtn {
    color: lightgray;
    width: 100%;
    font-family: "Roboto-Regular";
    font-size: 15px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid lightgray;
    outline: none;
}
.tile{
    height: 100px;
    width: 100%; 
    background-color: transparent;
    font-family: "Roboto";
    font-size:16px;
    color: lightgray;
}
.tile:hover {
    background-color: #1d1d1d;
    color: white;
}
.subsBtn {
    font-family: "Roboto-Regular";
    font-size: 13px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: transparent;
    text-transform: 
    uppercase;
    color:lightgray;
    vertical-align: center;
    text-transform: lowercase;
    margin-top: 30px;
    outline: none;
}
.subsBtn:hover {
    color: white;
    border-color: white;
}
.myLayout {
    background-color: #1d1d1d;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    border: none;
    height: 100vh; 
    width: 100%;
}
.status {
    height: 90px;
    width: 10px;
    margin-top: 5px;
}
.badge {
    background-color: transparent;
    border: 1px solid lightgray;
}